<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi there!</h2>
                <hr class="light">
                <p class="text-faded">My name is Merry Hospelhorn. I am game developer and graduate student at NYU Game Center (’21) based in Brooklyn, New York. I create colorful, saturated games that allow me to work in both artistic and technical disciplines.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
