<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi there!</h2>
                <hr class="light">
                <p class="text-faded">
                    My name is Merry Hospelhorn. I am a game developer, technical artist and recent graduate of NYU Game Center.
                    Many of my games are available to play on itch.io.
                    Much of my technical work is free to download on my github.
                    My work process can be followed on twitter and instagram!
                </p>
                <a href="#" class="btn btn-default btn-xl">Get in touch with me!</a>
            </div>
        </div>
    </div>
</section>
